<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee">

  <!-- Servlets -->
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.YCPCS.Whiteboard.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>HubServlet</servlet-name>
    <servlet-class>com.YCPCS.Whiteboard.servlet.HubServlet</servlet-class>
  </servlet>

  <!-- Servlet mappings -->
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login/*</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>HubServlet</servlet-name>
    <url-pattern>/hub/*</url-pattern>
  </servlet-mapping>
  
  <!-- Listeners -->
  <listener>
    <listener-class>com.YCPCS.Whiteboard.servlet.DatabaseInitListener</listener-class>
  </listener>

  <welcome-file-list>
    <welcome-file>/login</welcome-file>
    <welcome-file>/hub</welcome-file>
  </welcome-file-list>
</web-app>
